@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&display=swap');

* {
    transition: 1s;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Public Sans';
}

li {
    list-style-type: none;
}

p {
    color: hsl(233, 8%, 62%);
}

button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: hsl(0, 0%, 100%);
    border-radius: 15px;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border: 1px solid transparent;
    border-left-color: hsl(136, 65%, 51%);
    border-right-color: hsl(192, 70%, 51%);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
    position: fixed;
    top: 0;
    width: 100%;
}

nav>figure {
    margin: 0;
}

nav>ul {
    display: none;
}

nav>button {
    display: none;
}

#hamburger {
    align-items: center;
    margin-right: 10px;
}

main {
    display: flex;
    flex-direction: column-reverse;
    background-image: url("../images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    margin-bottom: 20%;
}

main>figure>img {
    max-width: 100%;
    width: 100%;
}

main>ul {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

main>ul>li {
    align-self: center;
}

main>div {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>div>h1 {
    text-align: center;
    font-size: 35px;
    max-width: 80%;
    color: hsl(233, 26%, 24%);
    font-weight: 500;
    margin-bottom: 0;
}

main>div>p {
    max-width: 80%;
    line-height: 1.5rem;
}

section {
    display: flex;
    flex-direction: column;
    background-color: hsl(220, 16%, 96%);
}

section>div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section>div:first-child>h2 {
    text-align: center;
    font-size: 30px;
    max-width: 80%;
    color: hsl(233, 26%, 24%);
    font-weight: 500;
    margin-bottom: 0;
}

section>div:first-child>p {
    max-width: 80%;
    line-height: 1.5rem;
}

.cont1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont1>h4 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.cont1>p {
    max-width: 85%;
    line-height: 1.5rem;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
    padding: 15px;
    padding-top: 15%;
    padding-bottom: 18%;
}

article>div {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
    margin-bottom: 20px;
    border-radius: 5px;
    padding-bottom: 8%;
}

article>h2 {
    font-size: 30px;
    color: hsl(233, 26%, 24%);
    font-weight: 500;
}

article>div>figure {
    max-width: 100%;
    width: 100%;
    margin: 0;
}

article>div>figure>img {
    max-width: inherit;
    width: inherit;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 25px;
}

article>div>figure>figcaption {
    margin-left: 10%;
    color: hsl(233, 8%, 62%);
    font-size: 14px;
}

article>div>h4 {
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 20px;
    line-height: 1.5rem;
    font-size: 17px;
    font-weight: 550;
    color: hsl(233, 26%, 24%);
}

article>div>p {
    line-height: 1.5rem;
    margin-left: 10%;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 15px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: hsl(233, 26%, 24%);
}

footer>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>div>div {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

footer>div>div>figure {
    margin: 10px;
}

footer>ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

footer>ul>li {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    color: hsl(0, 0%, 98%);
}

footer>div>button {
    margin-top: 20px;
    margin-bottom: 15px;
}

.attribution {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
    padding-left: 2px;
}

@media only screen and (min-width: 1280px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 5%;
    }

    nav>ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30%;
    }

    nav>button {
        display: block;
        align-items: flex-end;
    }
}